services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  # Core Services
  Cpsit\QualityTools\Service\:
    resource: '../src/Service/*'
    public: true
    exclude:
      - '../src/Service/TemporaryFile.php'
      - '../src/Service/DisposableTemporaryFile.php'

  # Utilities
  Cpsit\QualityTools\Utility\:
    resource: '../src/Utility/*'
    public: true
    exclude:
      - '../src/Utility/PathExclusionFilter.php'
      - '../src/Utility/PathScanner.php'
      - '../src/Utility/ProjectMetrics.php'

  # Configuration Services
  Cpsit\QualityTools\Configuration\:
    resource: '../src/Configuration/*'
    public: true
    exclude:
      - '../src/Configuration/ValidationResult.php'
      - '../src/Configuration/ConfigurationHierarchy.php'
      - '../src/Configuration/ConfigurationDiscovery.php'
      - '../src/Configuration/EnhancedConfiguration.php'
      - '../src/Configuration/ConfigurationInterface.php'
      - '../src/Configuration/ConfigurationLoaderInterface.php'

  # Console Commands
  Cpsit\QualityTools\Console\Command\:
    resource: '../src/Console/Command/*'
    public: true
    tags:
      - { name: 'console.command' }

  # External Dependencies
  Symfony\Component\Filesystem\Filesystem:
    public: false

  # Specific Service Definitions
  Cpsit\QualityTools\Service\SecurityService:
    public: true

  Cpsit\QualityTools\Service\FilesystemService:
    arguments:
      $filesystem: '@Symfony\Component\Filesystem\Filesystem'
    public: true

  Cpsit\QualityTools\Service\TemporaryFile:
    arguments:
      $securityService: '@Cpsit\QualityTools\Service\SecurityService'
      $filesystemService: '@Cpsit\QualityTools\Service\FilesystemService'
      $prefix: 'qt_temp_'
      $suffix: ''

  Cpsit\QualityTools\Service\DisposableTemporaryFile:
    arguments:
      $securityService: '@Cpsit\QualityTools\Service\SecurityService'
      $filesystemService: '@Cpsit\QualityTools\Service\FilesystemService'
      $prefix: 'qt_temp_'
      $suffix: ''

  Cpsit\QualityTools\Utility\VendorDirectoryDetector:
    public: true

  Cpsit\QualityTools\Configuration\SimpleConfigurationLoader:
    arguments:
      $validator: '@Cpsit\QualityTools\Configuration\ConfigurationValidator'
      $securityService: '@Cpsit\QualityTools\Service\SecurityService'
      $filesystemService: '@Cpsit\QualityTools\Service\FilesystemService'
    public: true

  Cpsit\QualityTools\Configuration\HierarchicalConfigurationLoader:
    arguments:
      $validator: '@Cpsit\QualityTools\Configuration\ConfigurationValidator'
      $securityService: '@Cpsit\QualityTools\Service\SecurityService'
      $filesystemService: '@Cpsit\QualityTools\Service\FilesystemService'
    public: true

  Cpsit\QualityTools\Configuration\ConfigurationValidator:
    public: true

  Cpsit\QualityTools\Service\ProcessEnvironmentPreparer:
    public: true

  Cpsit\QualityTools\Service\CommandBuilder:
    public: true

  Cpsit\QualityTools\Service\ProcessExecutor:
    public: true

  Cpsit\QualityTools\Utility\ProjectAnalyzer:
    public: true

  Cpsit\QualityTools\Utility\MemoryCalculator:
    public: true

  # Interface bindings for dependency injection
  Cpsit\QualityTools\Configuration\ConfigurationInterface:
    alias: 'Cpsit\QualityTools\Configuration\SimpleConfiguration'
    public: true

  Cpsit\QualityTools\Configuration\ConfigurationLoaderInterface:
    alias: 'Cpsit\QualityTools\Configuration\SimpleConfigurationLoader'
    public: true
